In [ ]:
pwd

# Variables

In [ ]:
a =  10
a,b,c = 10,20,30

In [ ]:
print(a)
print(b)
print(c)

In [ ]:
my_name = "pradeepthi"

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
hellohgfdtgdegcsfcsfndsdfghjkjhgfdssdfghjjhgf = 10

In [ ]:
print(a,b,c)

In [ ]:
print("a :",a,"b: ",b ,"c: ",c)

# DataTypes

In [ ]:
a = 10
b = 20.5
c = "hello"

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
d = float(a)

In [ ]:
type(d)

In [ ]:
e = str(a)

In [ ]:
type(e)

In [ ]:
a

In [ ]:
f = int(c)

In [ ]:
string = '12345'

In [ ]:
integer = int(string)

In [ ]:
x = False

In [ ]:
type(x)

In [ ]:
string = "hiee how are you 12345"

indexing - giving the index position to the elemnets present in the data type

In [ ]:
string[-9]

In [ ]:
string[9] = "q"

In [ ]:
string[9:] #strt

In [ ]:
string[:7]#end

In [ ]:
string[5:12]#start end

In [ ]:
dir(string)

In [ ]:
string

In [ ]:
string.capitalize()

In [ ]:
string.casefold()

In [ ]:
st = "ABCDEFGHIJ"

In [ ]:
st.casefold()

In [ ]:
string.center(70,"^")

In [ ]:
string.count('e')

In [ ]:
string

In [ ]:
string.split('e')

In [ ]:
list = [1,30.5,"john","hello",12345]

In [ ]:
#list =[0,1,2,3,4]

In [ ]:
list[4]

In [ ]:
list[2:4]

In [ ]:
list[1:]

In [ ]:
list[3] = "pradeepthi"

In [ ]:
list

In [ ]:
dir(list)

In [ ]:
list

In [ ]:
list.append("pradeepthi")

In [ ]:
list

In [ ]:
list.append([1,2,3,4,5])

In [ ]:
list

In [ ]:
list.clear()

In [ ]:
list

In [ ]:
list = [1, 30.5, 'john', 'pradeepthi', 12345, 'pradeepthi', [1, 2, 3, 4, 5]]

In [ ]:
list

In [ ]:
list2 = list.copy()

In [ ]:
list2

In [ ]:
list

In [ ]:
list.extend([1,2,3,4,5])

In [ ]:
list

In [ ]:

print(list)

In [ ]:
list.count(1)

In [ ]:
list.index(5)

In [ ]:
list.insert(5,"smartbridge")

In [ ]:
print(list)

In [ ]:
list.pop()

In [ ]:
print(list)

In [ ]:
list.remove("pradeepthi")

In [ ]:
print(list)

creating a list  with looping and comditions

In [ ]:
list1 = [i for i in range(10) if(i%2==0)]

In [ ]:
list1

In [ ]:
print(list)

In [ ]:
list.clear()

In [ ]:
print(list)

In [ ]:
list = [1,2,3,4,5,6]

In [ ]:
list

In [ ]:
list.extend([5,6,7,8,9])

In [ ]:
list

In [ ]:
list.append([5,6,7,8,9])

In [ ]:
list

In [ ]:
list.append([5,6,7,8,9])

In [ ]:
list

In [ ]:
t= (1,2,"john","smartbridge")

In [ ]:
tuple[3]

In [ ]:
tuple[1:3]

In [ ]:
tuple[0] = "prdeepthi"

In [ ]:
dir(t)

In [ ]:
t.count(3)

In [ ]:
t.index("smartbridge")

Task 

create list with the details of student like name, student rollnum , student marks ,
append the list with student attandance
delete student roll number from the list
copy student details in other list

In [ ]:
#dict = {"key":"value","key":"value","Key":"alue"}
d = {"name":"pradeepthi","age":27,"qualifiction":"Mtech"}

In [ ]:
d["qualifiction"]

In [ ]:
d["name"]

In [ ]:
d["age"]

In [ ]:
d["name"] = "priyanka"

In [ ]:
d

In [ ]:
d = {"name":"pradeepthi","age":27,"qualifiction":"smartbridge","name":"smartbridge"}

In [ ]:
d

In [ ]:
dir(d)

In [ ]:
d

In [ ]:
d.clear()

In [ ]:
d

In [ ]:
d = {"empname":"suraj","empsal":70000,"experience":6,"designation":"sranalyst"}

In [ ]:
d.get("empname")

In [ ]:
d.items()

In [ ]:
d.keys()

In [ ]:
d.pop("designation") # is similar to list.remove in list function

In [ ]:
d

In [ ]:
d.popitem() # similar to list.pop()

In [ ]:
d

In [ ]:
d ={"empname":"suraj",(1,2):[{"empsal":70000,"experience":6}],"designation":"sranalyst"}

In [ ]:
d["age"] = 27

In [ ]:
print(d)

In [ ]:
my_set = {1,2,3,4,5} #integers

In [ ]:
my_set = {1.0,"hello",(1,2,3)} # diffrent datatypes

In [ ]:
my_set = {1,3}

In [ ]:
my_set.add(2)

In [ ]:
my_set

In [ ]:
my_set.update([2,3,4],{6,7,8})

In [ ]:
my_set

In [ ]:
my_set.remove(8)

In [ ]:
my_set

In [ ]:
my_set.discard(3)

In [ ]:
my_set

In [ ]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = b.difference(a)

In [ ]:
c

In [ ]:
l = [1,2,[1,[2,[{"name":["pradeepthi","sahithi","ashwini"]}]]]] #nested list

In [ ]:
l[0]

In [ ]:
l[1]

In [ ]:
l[2]

In [ ]:
l[2][0]

In [ ]:
l[2][1]

In [ ]:
l[2][1][0]

In [ ]:
l[2][1][1]

In [ ]:
l[2][1][1][0]

In [ ]:
l[2][1][1][0]["name"]

In [ ]:
l[2][1][1][0]["name"][0]

In [ ]:
l[2][1][1][0]["name"][1]

In [ ]:
l[2][1][1][0]["name"][]

In [ ]:
l = [1,2,[4,5,[{"a":[1,2,3]}]]]

In [ ]:
l[2]

In [ ]:
l[2][2]

In [ ]:
l[2][2][0]

In [ ]:
l[2][2][0]["a"]

In [ ]:
l[2][2][0]["a"][0]

In [ ]:
l[2][2][0]["a"][1]

In [ ]:
l[2][2][0]["a"][2]

# ConditionalStatements

In [ ]:
a = int(input("enter a number") )# string
b = int(input("enter b"))#string
 
c = a+b
print(c)
if(c >75):
    print("passed") 
elif (c==35):
    print("border pass")  
else:
    print("failed")

In [2]:
num = float(input("enter a number"))
if num>=0:
    if num == 0:
        print("it is zero")
    else:
        print("possitive")
else:
    print("it is a negative number")

enter a number10
possitive

In [ ]:
type(c)

take 3 user inputs  a , b operator (+,-,*,/,%)
if operator +
add an d b
elif operator is -
sub a nad b

# Loops

In [12]:
for varible infor i in range(20,30):#i = 1+1(1,2,3,4,5,6,7,8,9,10)
    if(i%2 ==0):
        print(i) range/anysequence:
    body of forllop - statements

SyntaxError: invalid syntax (<ipython-input-12-8b5381078065>, line 1)

In [ ]:
# print all the  elements from 1 to 10 using for loop

In [13]:
for i in range(20,30):#i = 1+1
    if(i%2 ==0):
        print(i)

20
22
24
26
28

In [9]:
string = "hie how are you"
count = 0
for i in string:
    if (i == "e"):
        count = count+ 1
print(count)

2

In [11]:
for i  in range(len(string)):
    print(string[i])

h
i
e

h
o
w

a
r
e

y
o
u

In [ ]:
20 , 21,22,23,24,25,26,27,28,29,

In [16]:
list = [1,2,3,4,5,6,7]
for i in list:
    print(i)

1
2
3
4
5
6
7

i = 0
while(condition){
    statements
    i++
}

In [28]:
i = 0
while i <1 :
    print(i)
    i = i+1

0

break , continue , pass

break - stop the loop in the  middle based on the condition
continue - skip some interations
pass- just doesnt do anything

total 40
students - 40
emplty seats are 20
senors - count the person
you have to close the door of seminar hall once the count reaches 20

In [23]:
for i in range(1,41):
    print("student no " , i)
    if( i == 20):
        break
print("only 20 members allowed")

student no  1
student no  2
student no  3
student no  4
student no  5
student no  6
student no  7
student no  8
student no  9
student no  10
student no  11
student no  12
student no  13
student no  14
student no  15
student no  16
student no  17
student no  18
student no  19
student no  20
only 20 members allowed

In [26]:
for i in range(1,41):

    if( i%2 ==0):
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [31]:
studentname = input("enter student name")
studentmarks = input("enter student marks")
print("details are entered in the database")

enter student namepradeepthi
enter student marks35
details are entered in the database

In [32]:
studentname = input("enter student name")
studentmarks = input("enter student marks")
print("details are entered in the database")

enter student nameayushi
enter student marks79
details are entered in the database

In [33]:
studentname = input("enter student name")
studentmarks = input("enter student marks")
print("details are entered in the database")

enter student namevenkatesh
enter student marks88
details are entered in the database

In [34]:
def enterdetails():
    studentname = input("enter student name")
    studentmarks = input("enter student marks")
    print("details are entered in the database")

In [35]:
for i in range(1,6):
    enterdetails()

enter student namepradeepthi
enter student marks45
details are entered in the database
enter student nameayushi
enter student marks88
details are entered in the database
enter student namevenkatesh
enter student marks89
details are entered in the database
enter student nameshivam
enter student marks88
details are entered in the database
enter student namekeerthana
enter student marks45
details are entered in the database

def functionname():# empty paranthesis or with some arguments
    block of statements

In [37]:
def firstfunction():# without parameters
    print("hie this is my first function")

In [38]:
firstfunction()

hie this is my first function

In [52]:
def func(a,b): # function parameters
    c = a+b
    d = a-b
    return c,d

In [40]:
func(9,10)

19

In [41]:
func(20,40)

60

In [42]:
func(80,80)

160

In [53]:
d ,f = func(5,6)
print(d,f)

11 -1

create a function 
which takes the user input of student name , student marks for physics , biology , chemitry , sums the marks and returns the total and student name 
iterate the same for 3 students 
print the values of student and total

In [56]:
def details():
    name = input("enter the name of student")
    physics = int(input("enter the physics marks"))
    bio = int(input("enter the bio marks"))
    chem = int(input("enter the physics chem"))
    
    return name , physics+bio+chem

In [55]:
for i in range(1,4):
    studentname , marks = details()
    print(studentname , marks)

enter the name of studentpradeepthi
enter the physics marks80
enter the bio marks80
enter the physics chem80
pradeepthi 240
enter the name of studentvenkatesh
enter the physics marks90
enter the bio marks90
enter the physics chem90
venkatesh 270
enter the name of studentshivam
enter the physics marks90
enter the bio marks90
enter the physics chem90
shivam 270

# EXception Haandling

In [ ]:
Error handdling

In [59]:
a = 10
b = 20
c = a+ # crtitical statement
print(c) # normal statements

SyntaxError: invalid syntax (<ipython-input-59-52d2c3f3f2e7>, line 3)

critical statement - where it is prone to errorr , normal - it does not throw any error

In [75]:
try:
    a = int(input("enter a number"))
    b = int(input("enter a number"))
except ValueError:
    print("you cannot give a character for integer number")
try:
   
    c = a/b
except ZeroDivisionError:
    print("cannot divide with zero")
    
print(c)
print("bye")

enter a number10
enter a numberp
you cannot give a character for integer number
cannot divide with zero
0.5
bye

In [65]:
a = int(input("enter a number"))
b = int(input("enter a number"))

c = a/b

print("cannot devide by zero")
print(c)
print("bye")

enter a number10
enter a number0

ZeroDivisionError: division by zero

In [82]:
print("fridge is open")
a = 10
b = 10
try:
    c=  a/b
except:
    print(" cannot divide by zero")
finally:
    print("fridge is close")
print(c)

fridge is open
fridge is close
1.0